<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Central - Track Identification</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div style="display:flex;justify-content:center;align-items:center;margin-top: 100px;">
        <p style="font-size: 50px;">Upload Your File Here..</p>
    </div>
    {% if audio_info %}
        <div style="display:flex;justify-content:center;align-items:center;margin-top: 10px;">
            <p>{{ audio_info.length }}</p>
            <p>{{ status }}</p>
        </div>
    {% endif %}
    <div id="fileform" style="display:flex;justify-content:center;align-items:center;margin-top: 10px;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="audio"><strong>Upload Audio: </strong></label>
            <input type="file" name="audio" accept="audio/*"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>